<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header :: common-header" />


<body>
	<div th:replace="common/header :: navbar"></div>


	<div class="container" style= "padding-top: 50px;">

		<div class="row">
			<div class="col-sm-4">
				<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Sysmonui Application</h5>
						<p class="card-text">For checking Server, Connection, link related GAN infrastructure</p>
						<a href="https://sysmonui.aexp.com" class="btn btn-success">OPEN</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">GANUI application</h5>
						<p class="card-text">For Checking Transaction Logs related to GAN.</p>
						<a href="https://ganui.aexp.com" class="btn btn-success">OPEN</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">EDC Application</h5>
						<p class="card-text">Electronic data capture for all transactions.</p>
						<a href="https://edcui.aexp.com" class="btn btn-success">OPEN</a>
					</div>
				</div>
			</div>
		</div> <!-- end of row -->
		
		<div class="row">
			<div class="col-sm-4">
				<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural
							lead-in to additional content.</p>
						<a href="https://sysmonui.aexp.com" class="btn btn-primary">OPEN</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural
							lead-in to additional content.</p>
						<a href="https://sysmonui.aexp.com" class="btn btn-primary">OPEN</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural
							lead-in to additional content.</p>
						<a href="https://sysmonui.aexp.com" class="btn btn-primary">OPEN</a>
					</div>
				</div>
			</div>
		</div> <!-- end of row -->

	</div>
	<!-- /.container -->


	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>